<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ServiceDesk.WebApp</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Titillium+Web:wght@400;600;700&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <ul>
                <li>
                    <a href="#" class="nav-toggle"><i class="fa fa-bars fa-lg"></i></a>
                </li>
                <li id="header-logo"><a href="#">Service Desk</a></li>
                <li id="header-search">
                    <div class="search-box">
                    <input type="text" class="search-text" name="box" placeholder="Search..." />
                    <a href="#" class="search-btn"><i class="fa fa-search"></i></a>
                    </div>
                </li>
                <li>
                    <a href="#" class="aside-toggle"><i class="fa fa-cogs"></i></a>
                </li>
                <li>
                    <a href="#" class="aside-toggle"><i class="fa fa-bell"></i></a>
                </li>
                <li>
                    <a href="#" class="aside-toggle"><i class="fa fa-user-circle"></i></a>
                </li>
            </ul>
        </header>

        <nav>
            <ul>
                <li>
                    <a asp-page="/tickets/edit" class="linkbutton btn-primary"><i class="fa fa-plus"></i>New Ticket</a>
                </li>
                <li>
                    <a asp-page="/index"><i class="fa fa-dashboard"></i>Dashboard</a>
                </li>
                <li>
                    <a asp-page="/tickets/index"><i class="fa fa-comment-o"></i>My Tickets</a>
                </li>
                <li>
                    <hr />
                </li>
                <li>
                    <a asp-page="/tickets/index"><i class="fa fa-envelope-o"></i>Incoming</a>
                </li>
                <li>
                    <a asp-page="/tickets/index"><i class="fa fa-edit"></i>In Progress</a>
                </li>
                <li>
                    <a asp-page="/tickets/index"><i class="fa fa-check-square-o"></i>Completed</a>
                </li>
            </ul>
        </nav>

        <main>
            @RenderBody()
        </main>
        
        <aside>
            <div style="width:200px; padding:10px; border-left:1px solid #999">
            <h3>Aside Section</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse dolorum
                reiciendis soluta delectus, id provident cupiditate animi architecto
                officia atque iure illum quae labore ea!
            </p>
            </div>
        </aside>

        <footer>
            <p>Footer</p>
        </footer>
    
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
